@model IEnumerable<ShoppingStore.DAL.Tbl_Product>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Products</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Product Details
            <a href="../../Admin/AddProduct" class="btn btn-info pull-right fa fa-plus"> Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Product Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Product Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ 
                            int count = 1;
                        }
                        @foreach (var item in Model)
                        {
                            
                            <tr>
                                <td>@count</td>
                                <td>@item.ProductName</td>
                                <td>@Html.ActionLink("Edit","EditProduct", new { productID = item.ProductId})</td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
